<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Dharmaraj - Fruits Prediction</title>
</head>
<body>
  <div class="container">
    <div class="col-lg-12">
      <center><h1 style="padding:30px;font-weight: 600 !important;font-size: 3.2em">FRUITS PREDICTION</h1></center>
    </div>
   <div class="col-lg-12">
      <center><form  class="form-inline" action = "/predict" method = "post" enctype="multipart/form-data">
          <input type="file" name="file"/><br>
          <input type = "submit" class="btn btn-success" value="Predict">
      </form></center>
    </div>
    <div class="col-lg-5" style="padding-top:30px">
      <span class="border border-primary">
        <img src="{{ user_image }}" alt="User Image" class="img-thumbnail" style="width:250px;height:250px;float:right">
      </span>
    </div>
    <div class="col-lg-5" style="padding-top:30px">
      <h4>Fruit name is <mark style="background-color:#04aa6d;color:white;border-radius:5px">{{fruit}}</mark></h4>
      <h4>Probabilities : {{prob}}</h4>
    </div>
  </div>
</div>
</body>
</html>